$light-grey: rgb(182, 169, 169);
$white: #fff;
$purple: #dd2ce9;

* {
  margin: 0;
  padding: 0;
}

* body {
  box-sizing: border-box;
}
.report {
  &__wrapper {
    max-width: 850px;
    margin: 0 auto;
  }
}
.search {
  margin-top: 40px;
  &__label {
    position: relative;
  }

  &__input {
    width: 100%;
    border: 1px solid rgba(182, 169, 169, 0.5);
    border-radius: 25px;
    height: 40px;
    transition: 0.5s;
    cursor: pointer;
    text-indent: 20px;
    &:hover {
      border: 1px solid $purple;
      background-color: rgba(231, 224, 224, 0.5);
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.user {
  width: 230px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 1px 2px 8px -1px #d1cdcd;
  border-radius: 25px;
  cursor: pointer;

  &__name {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: normal;
  }

  &__phone {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  &__text {
    line-height: normal;
    color: $light-grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  &__icon {
    margin-right: 15px;
  }

  &__mail {
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;
  }

  &__link {
    line-height: normal;
    color: $light-grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;

  &__btn-close {
    width: 40px;
    height: 40px;
    background-color: $purple;
    border-radius: 50%;
    top: 12%;
    z-index: 2;
    position: fixed;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      background: $white;
      top: 48%;
      left: 29%;
    }
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__dialog {
    max-width: 380px;
    min-height: 270px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 20px;
    transition-delay: 0.2s;
    border-radius: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    transform: translateY(-20%);
  }

  &__title {
    margin-bottom: 10px;
  }
}
.modal_active {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
  transition: 0.5s;
}

.details {
  display: flex;
  justify-content: space-between;
  &__information,
  &__person {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__information {
    font-weight: bold;
  }
  &__person {
    color: $light-grey;
  }

  &__link {
    color: $light-grey;
    margin-bottom: 10px;

    &:hover {
      color: $purple;
      transition: 0.5s;
    }
  }
}
.info {
  &__title {
    margin-bottom: 10px;
  }

  &__text {
    color: $light-grey;
  }
}
.details p {
  margin-bottom: 10px;
}
.details a:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
